.common_section{
    background: linear-gradient(#0000009d, #0000009d),url('../assets/images/bedroom.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    margin-bottom: 50px;
    h1{
        color: #fff;
        font-weight: 600;
    }
}


@media only screen and (max-width: 768px){
    .common_section{
        padding: 70px 0 !important;
        h1{
            font-size: 1.4rem !important;
        }
    }
}
